<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="Katen - Minimal Blog & Magazine HTML Theme">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="/assets/elementos/red/redciudadana.png">

	<!-- STYLES -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="/assets/css/all.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="/assets/css/slick.css" type="text/css" media="all">
	<link rel="stylesheet" href="/assets/css/simple-line-icons.css" type="text/css" media="all">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block head %}
    {% endblock %}

</head>

<body>

<!-- Preloader Start -->
<div id="preloader-active">
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="preloader-inner position-relative">
			<div class="text-center">
				<img src="/assets/elementos/loader.gif" style="width:50%;height:auto;margin:auto" alt="" />
			</div>
		</div>
	</div>
</div>

<div class="redes-sidebar">
	<a target="_blank" href="https://www.facebook.com/comisiongaeoficial/"><i class="fab fa-facebook-f"></i></a>
	<a target="_blank" href="https://twitter.com/ComisionGAE"><i class="fab fa-twitter "></i></a>
	<a target="_blank" href="https://www.instagram.com/comisiongaeoficial/"><i class="fab fa-instagram "></i></a>
	<a target="_blank" href="https://www.youtube.com/channel/UCGRnSQbkSUmNnnwRi6ZUc3g"><i class="fab fa-youtube"></i></a>
</div>

<!-- site wrapper -->
<div class="site-wrapper">

	<div class="main-overlay"></div>

	<!-- header -->
	<!-- site logo -->
	<div class="container-xl">
		
	</div>
	<header class="header-default">
		<nav class="navbar navbar-expand-lg">
			<div class="container-xl">
				<div class="logos">
					<a class="navbar-brand logo" href="/index.html"><img src="/assets/elementos/red/WEB_INNOVACION SOCIAL-03.png" alt="logo" /></a> 
					<a class="navbar-brand logo" href="/index.html"><img src="/assets/elementos/red/RED.png" alt="logo" /></a> 
				</div>

				<div class="collapse navbar-collapse justify-content-end">
					<!-- menus -->
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown active">
							<a class="nav-link dropdown-toggle" href="/index.html">Inicio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about/index.html">Acerca</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/categorias/index.html">Categorías</a>
						</li>
						<!--li class="nav-item">
							<a class="nav-link" href="category.html">Acerca de</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="index.html">Revisa</a></li>
								<li><a class="dropdown-item" href="personal.html">Personal</a></li>
								<li><a class="dropdown-item" href="personal-alt.html">Personal Alt</a></li>
								<li><a class="dropdown-item" href="minimal.html">Minimal</a></li>
								<li><a class="dropdown-item" href="classic.html">Classic</a></li>
							</ul>
						</li-->
						<li class="nav-item">
							<a class="nav-link" href="/contacto/index.html">Contacto</a>
						</li>
					</ul>
				</div>

				<!-- header right section -->
				<div class="header-right">
					<!-- social icons -->
					<!--ul class="social-icons list-unstyled list-inline mb-0">
						<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-medium"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
					</ul-->
					<!-- header buttons -->
					<div class="header-buttons">
						<!--button class="search icon-button">
							<i class="icon-magnifier"></i>
						</button-->
						<button class="burger-menu icon-button">
							<span class="burger-icon"></span>
						</button>
					</div>
				</div>
			</div>
		</nav>
	</header>	
		
		{% block content %}

        {% endblock %} 
	
	<!-- footer -->
	<footer>
		<div class="container-xl">
			<div class="footer-inner">
				<div class="row d-flex align-items-center gy-4">
					<!-- copyright text -->
					<div class="col-md-4">
						<span class="copyright">Red Ciudadana</span>
					</div>

					<!-- social icons -->
					<div class="col-md-4 text-center">
						<ul class="social-icons list-unstyled list-inline mb-0">
							<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-medium"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
						</ul>
					</div>

					<!-- go to top button -->
					<div class="col-md-4">
						<a href="#" id="return-to-top" class="float-md-end"><i class="icon-arrow-up"></i>Ir hacia arriba</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
</div><!-- end site wrapper -->

<!-- search popup area -->
<div class="search-popup">
	<!-- close button -->
	<button type="button" class="btn-close" aria-label="Close"></button>
	<!-- content -->
	<div class="search-content">
		<div class="text-center">
			<h3 class="mb-4 mt-0">Press ESC to close</h3>
		</div>
		<!-- form -->
		<form class="d-flex search-form">
			<input class="form-control me-2" type="search" placeholder="Search and press enter ..." aria-label="Search">
			<button class="btn btn-default btn-lg" type="submit"><i class="icon-magnifier"></i></button>
		</form>
	</div>
</div>
{% block body_javascripts %}

{% endblock %}

<!-- mobil menu -->
<div class="canvas-menu d-flex align-items-end flex-column">
	<!-- close button -->
	<button type="button" class="btn-close" aria-label="Close"></button>

	<!-- logo responsive -->
	<div class="logo" style="margin:20px 0!important">
		<a class="navbar-brand logo" href="/index.html"><img src="/assets/elementos/red/WEB_INNOVACION SOCIAL-03.png" alt="logo" /></a> 
		<a class="navbar-brand logo" href="/index.html"><img src="/assets/elementos/red/RED.png" alt="logo" /></a> 
	</div>

	<!-- menu responsive -->
	<nav>
		<ul class="vertical-menu">
			<li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" href="/index.html">Inicio</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about/index.html">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/categorias/index.html">Categorías</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/contacto/index.html">Contacto</a>
			</li>
		</ul>
	</nav>

</div>

<!-- JAVA SCRIPTS -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/jquery.sticky-sidebar.min.js"></script>
<script src="/assets/js/custom.js"></script>

<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', (user) => {
        if (!user) {
            window.netlifyIdentity.on('login', () => {
            document.location.href = '/admin/';
            });
        }
        });
    }
</script>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<script>
	(function ($) {
		("use strict");
		// Page loading
		$(window).on("load", function () {
			$("#preloader-active").delay(450).fadeOut("slow");
			$("body").delay(450).css({
				overflow: "visible"
			});
			$("#onloadModal").modal("show");
		});
	
	})(jQuery);
</script>

</body>

</html>
