---
permalink: "/categorias/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Categorías | Revista Académica</title>

{% endblock %}

{% block content %}
<!--Colocar las categorias ordenadas-->

    <section class="page-header">
        <div class="container-xl">
            <div class="text-center">
                <h1 class="mt-0 mb-2">Categorías</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="/index.html">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Categorías</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

	<!-- section main content -->
	<section class="main-content">
		<div class="container-xl">

			<div class="row gy-4">

				<div class="col-lg-8">

                    <div class="row gy-4">
                        {% for cat in collections.categorias %}

                        <div class="col-sm-6">
                            <!-- post -->
                            <div class="post post-grid rounded bordered">
                                <div class="thumb top-rounded">
                                    <span class="post-format">
                                        <i class="icon-picture"></i>
                                    </span>
                                    <a href="{{cat.url}}">
                                        <div class="inner">
                                            <img src="/assets/elementos/images/posts/post-md-1.jpg" alt="post-title" />
                                        </div>
                                    </a>
                                </div>
                                <div class="details">

                                    <h5 class="post-title mb-3 mt-3"><a href="{{articulo.url}}">{{cat.data.title}}</a></h5>
                                    <p class="excerpt mb-0">{{cat.data.descripcion}}</p>
                                </div>
                            </div>
                        </div>
    
                        {% endfor %}

                    </div>

					<nav>
						<ul class="pagination justify-content-center">
							<li class="page-item active" aria-current="page">
								<span class="page-link">1</span>
							</li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
						</ul>
					</nav>

				</div>
				<div class="col-lg-4">

					<!-- sidebar -->
					
					<!-- post tabs -->
					<div class="post-tabs rounded bordered">
						<!-- tab navs -->
						<ul class="nav nav-tabs nav-pills nav-fill" id="postsTab" role="tablist">
							<li class="nav-item" role="presentation"><button aria-controls="popular" aria-selected="true" class="nav-link active" data-bs-target="#popular" data-bs-toggle="tab" id="popular-tab" role="tab" type="button">Populares</button></li>
							<li class="nav-item" role="presentation"><button aria-controls="recent" aria-selected="false" class="nav-link" data-bs-target="#recent" data-bs-toggle="tab" id="recent-tab" role="tab" type="button">Recientes</button></li>
						</ul>
						<!-- tab contents -->
						<div class="tab-content" id="postsTabContent">
							<!-- loader -->
							<div class="lds-dual-ring"></div>
							<!-- popular posts -->
							<div aria-labelledby="popular-tab" class="tab-pane fade show active" id="popular" role="tabpanel">
								{% for articulo in collections.articulos%}
								<!-- post -->
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<a href="{{articulo.url}}">
											<div class="inner">
												<img style="height:60px" src="{{articulo.data.imagen}}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="{{articulo.url}}">{{articulo.data.title}}</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">{{articulo.data.fecha | dateFormat('DD/MM/YYYY')}}</li>
										</ul>
									</div>
								</div>
								{% endfor %}

							</div>
							<!-- recent posts -->
							<div aria-labelledby="recent-tab" class="tab-pane fade" id="recent" role="tabpanel">
								{% for articulo in collections.articulos%}
								<!-- post -->
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<a href="{{articulo.url}}">
											<div class="inner">
												<img style="height:60px" src="{{articulo.data.imagen}}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="{{articulo.url}}">{{articulo.data.title}}</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">{{articulo.data.fecha | dateFormat('DD/MM/YYYY')}}</li>
										</ul>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
	</section>
{% endblock %}